@tailwind base;
@tailwind components;
@tailwind utilities;

.m-icon-round {
  font-family: "Material Symbols Rounded", "MaterialSymbolsRounded";
  font-weight: 100;
  font-size: 34;
}

.m-icon-outline {
  font-family: "Material Symbols Outlined", "MaterialSymbolsOutlined";
  font-weight: 100;
  font-size: 34;
}

.ns-root,
.ns-modal {
  /* Definition */
  --bg-light: #FFFFFF;
  --bg-dark: #1C2128;
  --bg-secondary-light: #f5f5f5e5;
  --bg-secondary-dark: #21272f;
  --text-light: #1C2128;
  --text-dark: white;

  /* Default | light mode */
  --bg: var(--bg-light);
  --bg-secondary: var(--bg-secondary-light);
  --text: var(--text-light);
}

.ns-root.ns-dark,
.ns-modal.ns-dark {
  --bg: var(--bg-dark);
  --bg-secondary: var(--bg-secondary-dark);
  --text: var(--text-dark);
}

Label,
TextView,
TextField {
  color: var(--text);
}

TextView,
TextField {
  placeholder-color: var(--text);
}

Page,
.bg {
  background-color: var(--bg);
}

.bg-secondary {
  background-color: var(--bg-secondary);
}

.shadow {
  box-shadow: 0px px 8px 0px rgba(189, 189, 189, 0.75);
}


TextField.uber,
Label.uber {
  font-family: "Uber Move", "UberMoveMedium";
  font-weight: 500;
}

.light {
  font-family: "Uber Move", "UberMove-Light";
  font-weight: 300;
}

.bold {
  font-family: "Uber Move", "UberMoveBold";
  font-weight: 700;
}