@tailwind base;
@tailwind components;
@tailwind utilities;

.m-icon-round {
  font-family: "Material Symbols Rounded", "MaterialSymbolsRounded";
  font-weight: 100;
  font-size: 34;
}

.m-icon-outline {
  font-family: "Material Symbols Outlined", "MaterialSymbolsOutlined";
  font-weight: 100;
  font-size: 34;
}

Label {
  color: black;
}

Page {
  background-color: white;
}

.shadow{
  box-shadow: 0px px 8px 0px rgba(189, 189, 189, 0.75);
}


TextField.uber, Label.uber{
  font-family: "Uber Move", "UberMoveMedium"; font-weight: 500; 
}
.light{
  font-family: "Uber Move", "UberMove-Light"; font-weight: 300; 
}
.bold{
  font-family: "Uber Move", "UberMoveBold"; font-weight: 700; 
}